# <font color = 'red'>Feature Transformations</font>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('supershops.csv')

In [3]:
df1 = df.copy()

In [4]:
df1.head(2)

   Marketing Spend  Administration  Transport   Area     Profit
0        114523.61       136897.80  471784.10  Dhaka  192261.83
1        162597.70       151377.59  443898.53    Ctg  191792.06

In [5]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
x = list(df1.select_dtypes(include=numerics).columns)

## <font color = 'red'>MinMaxScaler / Normalization</font>

In [6]:
from sklearn.preprocessing import MinMaxScaler

In [7]:
mms = MinMaxScaler(feature_range=(0,1))

In [8]:
mms

MinMaxScaler()

In [9]:
mms.fit_transform(df1[x])

array([[0.69261666, 0.65174393, 1.        , 1.        ],
       [0.98335946, 0.76197173, 0.94089337, 0.99735461],
       [0.92798459, 0.37957895, 0.8646636 , 0.99317808],
       [0.87313643, 0.51299839, 0.81223513, 0.94729239],
       [0.85943772, 0.30532804, 0.77613557, 0.85317138],
       [0.797566  , 0.3694479 , 0.76912588, 0.80138177],
       [0.81412828, 0.73016111, 0.27071031, 0.79649041],
       [0.7880179 , 0.71745725, 0.68649342, 0.79440736],
       [0.72901786, 0.74173276, 0.66049977, 0.77446805],
       [0.74590551, 0.43692884, 0.64644319, 0.7606613 ],
       [0.61635061, 0.45150637, 0.48573267, 0.74017475],
       [0.60884455, 0.30836422, 0.52936195, 0.72968626],
       [0.56766982, 0.57883556, 0.52956308, 0.71462897],
       [0.55635219, 0.64106561, 0.53555202, 0.67364377],
       [0.72539353, 0.8013272 , 0.54370828, 0.66404417],
       [1.        , 0.54302973, 0.55486446, 0.64892083],
       [0.47180821, 0.53527036, 0.56031151, 0.63245443],
       [0.57246821, 0.71401273, 0.59894835, 0.62331739],
       [0.55488118, 0.47877201, 0.62511553, 0.61710347],
       [0.52264964, 0.77823604,        nan, 0.60871268],
       [0.46116861, 0.47642362, 0.63305328, 0.58448237],
       [0.47408436, 0.78021012, 0.63532724, 0.54415692],
       [0.4475048 , 0.54429273, 0.64291963, 0.53874658],
       [0.40842369, 0.4146383 , 0.64599195, 0.52963376],
       [0.46594728, 0.3653876 , 0.29796428, 0.52860915],
       [0.39107967, 0.67195793, 0.29242745, 0.52214616],
       [0.45557444, 0.70684477, 0.28413435, 0.51273747],
       [0.43609283, 0.58297807, 0.74861321, 0.50865352],
       [0.39946683, 1.        , 0.25042853, 0.49893437],
       [0.39676926, 0.77456642, 0.22709197, 0.48610784],
       [0.37493063, 0.48992809, 0.19316302, 0.48009902],
       [0.36974101, 0.77205322, 0.18698856, 0.46627976],
       [0.38348453, 0.5932935 , 0.09768292, 0.46596599],
       [0.33561668, 0.39413365, 0.45494286, 0.46231175],
       [0.2807759 , 0.81005496, 0.44680961, 0.46193942],
       [0.2782839 , 0.25703165, 0.43561799, 0.4606257 ],
       [0.17335288, 0.57682456, 0.42631115, 0.42812595],
       [0.26652654, 0.        , 0.41762624, 0.42385155],
       [0.12234465, 0.11163611, 0.39269043, 0.37474659],
       [0.23319442, 0.24130912, 0.3709309 , 0.37348913],
       [0.17390063, 0.51204073, 0.36626005, 0.35791393],
       [0.16869099, 0.25446874, 0.34861436, 0.3554301 ],
       [0.14297577, 0.34185188, 0.31370517, 0.3199513 ],
       [0.09377566, 0.57930693, 0.07531871, 0.31015569],
       [0.13412668, 0.78807166, 0.06005866, 0.28448478],
       [0.0060492 , 0.5547241 , 0.0040356 , 0.28294041],
       [0.00795565, 0.49125975, 0.62976785, 0.19602019],
       [0.        , 0.64054682, 0.        , 0.15698988],
       [0.00327821, 0.00350184, 0.        , 0.11821128],
       [0.        , 0.50014806, 0.09574943, 0.        ]])

In [10]:
df1[x] = mms.fit_transform(df1[x])

In [11]:
df1.head(10)

   Marketing Spend  Administration  Transport     Area    Profit
0         0.692617        0.651744   1.000000    Dhaka  1.000000
1         0.983359        0.761972   0.940893      Ctg  0.997355
2         0.927985        0.379579   0.864664  Rangpur  0.993178
3         0.873136        0.512998   0.812235    Dhaka  0.947292
4         0.859438        0.305328   0.776136  Rangpur  0.853171
5         0.797566        0.369448   0.769126    Dhaka  0.801382
6         0.814128        0.730161   0.270710      Ctg  0.796490
7         0.788018        0.717457   0.686493  Rangpur  0.794407
8         0.729018        0.741733   0.660500    Dhaka  0.774468
9         0.745906        0.436929   0.646443      Ctg  0.760661

## <font color = 'red'>Standard Scaler</font>

In [12]:
df1 = df.copy()

In [13]:
from sklearn.preprocessing import StandardScaler

In [14]:
ss = StandardScaler()
ss

StandardScaler()

In [15]:
df1[x] = ss.fit_transform(df1[x])

In [16]:
df1.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.897913        0.560753   2.165287    Dhaka  2.011203
1         1.955860        1.082807   1.929843      Ctg  1.999430
2         1.754364       -0.728257   1.626191  Rangpur  1.980842
3         1.554784       -0.096365   1.417348    Dhaka  1.776627
4         1.504937       -1.079919   1.273550  Rangpur  1.357740

## <font color = 'red'>Robust Scaler</font>

In [17]:
df1 =  df.copy()

In [18]:
from sklearn.preprocessing import RobustScaler

In [19]:
rs = RobustScaler()
rs

RobustScaler()

In [20]:
df1[x] = rs.fit_transform(df1[x])

In [21]:
df1.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.672530        0.345355   1.552016    Dhaka  1.698340
1         1.452113        0.697565   1.383714      Ctg  1.688874
2         1.303634       -0.524290   1.166654  Rangpur  1.673929
3         1.156567       -0.097977   1.017368    Dhaka  1.509736
4         1.119836       -0.761543   0.914576  Rangpur  1.172943

## <font color = 'red'>Max Absolute Scaler</font>

In [22]:
df1 = df.copy()

In [23]:
from sklearn.preprocessing import MaxAbsScaler

In [24]:
ms = MaxAbsScaler()

In [25]:
df1[x] = ms.fit_transform(df1[x])

In [26]:
df1.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.692617        0.749527   1.000000    Dhaka  1.000000
1         0.983359        0.828805   0.940893      Ctg  0.997557
2         0.927985        0.553781   0.864664  Rangpur  0.993699
3         0.873136        0.649738   0.812235    Dhaka  0.951317
4         0.859438        0.500378   0.776136  Rangpur  0.864383

## Normal

In [27]:
df1 = df.copy()

In [28]:
df1[x].max()

Marketing Spend    165349.20
Administration     182645.56
Transport          471784.10
Profit             192261.83
dtype: float64

In [29]:
for i in df1[x]:
    print(i)

Marketing Spend
Administration
Transport
Profit

In [30]:
df1.iloc[:,0] = df1['Marketing Spend']/ df1[x].max()[0]
df1.iloc[:,1] = df1['Administration']/ df1[x].max()[1]
df1.iloc[:,2] = df1['Transport']/ df1[x].max()[2]
df1.iloc[:,4] = df1['Profit']/ df1[x].max()[3]

In [31]:
df1.head()

   Marketing Spend  Administration  Transport     Area    Profit
0         0.692617        0.749527   1.000000    Dhaka  1.000000
1         0.983359        0.828805   0.940893      Ctg  0.997557
2         0.927985        0.553781   0.864664  Rangpur  0.993699
3         0.873136        0.649738   0.812235    Dhaka  0.951317
4         0.859438        0.500378   0.776136  Rangpur  0.864383